@font-face{
	font-family:"Tokyo";
	src:url("http://static.wixstatic.com/ufonts/768279_a92e341df36f4c0597be4bae080d3a9b/woff/file.woff");
}

#entete{
	background: transparent url("../Images/Destinations/Japon/Japon.jpg") no-repeat scroll 50% center / cover;
	padding-top: 50px;
}

.ville{
	font-family: Tokyo;
}